.sidebar {
    display: flex;
    border-radius: 45px;
    margin: 30px;
    float: left;
    align-items: center;
    height: 62rem;
    min-width: 18%;
    background: #5959f5;   
}

.sb-links {
    display: flex;
    flex-flow: column;
    padding: 10px;
    width: 100%;
    align-items: center;
}

.link-btn {
    display: flex;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid white;
    padding-left: 10px;
}

.link-btn-active {
    display: flex;
    justify-content: space-between;
    color: #2c2cff;
    width: 100%;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid blue;
    padding-left: 10px;
}
.icon-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid white;
}
